In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('./Datasets/thyroid.tsv',encoding = 'utf_16_le',sep = '\t')
data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,result,value
0,41,F,f,f,f,f,f,f,f,f,...,125,t,1.14,t,109,f,?,SVHC,negative.,3733
1,23,F,f,f,f,f,f,f,f,f,...,102,f,?,f,?,f,?,other,negative.,1442
2,46,M,f,f,f,f,f,f,f,f,...,109,t,0.91,t,120,f,?,other,negative.,2965
3,70,F,t,f,f,f,f,f,f,f,...,175,f,?,f,?,f,?,other,negative.,806
4,70,F,f,f,f,f,f,f,f,f,...,61,t,0.87,t,70,f,?,SVI,negative.,2807