In [1]:
import pandas as pd

In [ ]:
page_url =('https://en.wikipedia.org/w/index.php?' +'title=Solar_power&oldid=1022764142')
data = pd.read_html(page_url)
data

In [6]:
solar_pv_data = data[2]
solar_pv_data

,Name,Country,Capacity MWp,Generation GWh p.a.,Size km2,Year,Ref
0,Pavagada Solar Park,India,2050,NaN,53,2017,[2][52][53]
1,Tengger Desert Solar Park,China,1547,NaN,43,2016,[54][55]
2,Bhadla Solar Park,India,1515,NaN,40,2017,[56][57][58]
3,Kurnool Ultra Mega Solar Park,India,1000,NaN,24,2017,[59]
4,Datong Solar Power Top Runner Base,China,1000,NaN,NaN,2016,[60][61][62]
5,Longyangxia Dam Solar Park,China,850,NaN,23,2015,[63][64][65][66][67]
6,Rewa Ultra Mega Solar,India,750,NaN,NaN,2018,[68]
7,Kamuthi Solar Power Project,India,648,NaN,10.1,2016,[69][70]
8,Solar Star (I and II),United States,579,1664.0,13,2015,[71][72]
9,Topaz Solar Farm,United States,550,1301.0,24.6[73],2014,[74][75][76]